<div class="gridItem pointer-hand">
    <% if (typeof removable !== "undefined") { %>
        <span id="removeImage"  class="pull-right remove-icon glyphicon glyphicon-trash"></span>
    <% } %>
    <% if (typeof errors !== "undefined") { %>
        <div class="picture-error"><%- errors %></div>
    <% } %>
    <% if (typeof caption !== "undefined") { %>
        <div class="picture-text"><%- caption %></div>
    <% } %>
    <% if (typeof videoUrl !== "undefined") { %>
        <span class="glyphicon glyphicon-play-circle video-icon" aria-hidden="true"></span>
    <% } %>

</div>