<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>
                Welcome to Encryb!
            </h1>
            <p>
                Encryb is a private social network build on public cloud storage. All data is encrypted so that only you and your friends can view it
                and is not examined for advertising or any other purposes. Encryb is an open source project. For source code, please visit https://github.com/encryb.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Learn more</a>
            </p>
        </div>
    </div>
</div>
<div class="row bottom-5">
    <div class="col-md-4">
        <div class="well well-sm border-warning">
            <div class="pull-left">
                <span class="glyphicon glyphicon-remove statola"></span>
            </div>
            <div class="pull-right">
                <img src="img/dropbox.png" style="max-height: 80px">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p class="lead text-danger">Dropbox access not authorized.</p>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default">Login / Authorize</button>
    </div>
</div>
<div class="row bottom-5">
    <div class="col-md-4">
        <div class="well well-sm border-warning">
            <div class="pull-left">
                <span class="glyphicon glyphicon-remove statola"></span>
            </div>
            <div class="pull-right text-stato">
                <span class="glyphicon glyphicon-asterisk statolo"></span>
                <span class="glyphicon glyphicon-asterisk statolo"></span>
                <span class="glyphicon glyphicon-asterisk statolo"></span>
                <span class="glyphicon glyphicon-lock statolo"></span>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p class="lead text-danger">Encryption keys not found.</p>
    </div>
    <div class="col-md-2">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default">Create New Keys</button>
            <button type="button" class="btn btn-default">Upload Keys</button>
            <button type="button" class="btn btn-default">Load from Google</button>
        </div>
    </div>
</div>
