
<div class="row">
    <div class="pull-right"><a href="#" id="myInfo" class="btn btn-default" role="button">My Info</a></div>
    <div class="pull-right"><a href="#" id="saveManifests" class="btn btn-default" role="button">Save Manifests</a></div>
    <div class="col-xs-3 col-sm-2">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCribs">
                            <h5 class="nopadding"><img src="img/cribs.png"> / Cribs</h5>
                        </a>
                    </h4>
                </div>
                <div id="collapseCribs" class="panel-collapse collapse">
                    <div class="panel-body padding-5">
                        <div id="cribs"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading padding-5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriends">
                            <h5 class="nopadding"><img src="img/friends.png"> / Friends</h5>
                        </a>
                    </h4>
                </div>
                <div id="collapseFriends" class="panel-collapse collapse in">
                    <div class="panel-body padding-5">
                        <div id="friends"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <img src="img/friends.png">Friends <a href="#" id="addFriend" class="btn btn-default" role="button">Add</a>
-->
    </div>
    <div class="col-xs-9 col-sm-7">
        <div class="row">
            <div id="friendsDetails"></div>
        </div>
        <div class="row">
            <div id="createPost"></div>
        </div>
        <div class="row">
            <div id="posts"></div>
        </div>
    </div>
</div>

