
<div class="row">
    <div class="pull-right"><a href="#" id="myInfo" class="btn btn-default" role="button">My Info</a></div>
    <div class="pull-right"><a href="#" id="saveManifests" class="btn btn-default" role="button">Save Manifests</a></div>
    <div class="col-lg-2">
        <h4>Cribs</h4>
        <div id="cribs"></div>
        <h4>Friends <a href="#" id="addFriend" class="btn btn-default" role="button">Add</a>
        </h4>
        <div id="friends"></div>
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div id="createPost"></div>
        </div>
        <div class="row">
            <div id="posts"></div>
        </div>
    </div>
</div>

